<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>五彩棒棒糖</key>
	<array>
		<dict>
			<key>name</key>
			<string>闫卫敏</string>
			<key>head_image</key>
			<string>head_03.jpg</string>
			<key>iphone_num</key>
			<string>18860233165</string>
			<key>gendar</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>hobbby</key>
			<string>吃</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王雪娟</string>
			<key>head_image</key>
			<string>head_08.jpg</string>
			<key>iphone_num</key>
			<string>18860233296</string>
			<key>gendar</key>
			<string>女</string>
			<key>age</key>
			<string>21</string>
			<key>hobby</key>
			<string>追剧</string>
		</dict>
		<dict>
			<key>name</key>
			<string>郭飞飞</string>
			<key>head_image</key>
			<string></string>
			<key>iphone_num</key>
			<string>18860233196</string>
			<key>gendar</key>
			<string>女</string>
			<key>age</key>
			<string>女</string>
			<key>hobby</key>
			<string>玩</string>
		</dict>
		<dict>
			<key>name</key>
			<string>秦俊珍</string>
			<key>head_image</key>
			<string></string>
			<key>iphone_num</key>
			<string>18860233196</string>
			<key>gendar</key>
			<string>女</string>
			<key>age</key>
			<string>女</string>
			<key>hobby</key>
			<string>玩</string>
		</dict>
		<dict>
			<key>name</key>
			<string>湛腚超</string>
			<key>head_image</key>
			<string></string>
			<key>iphone_num</key>
			<string>18860233196</string>
			<key>gendar</key>
			<string>女</string>
			<key>age</key>
			<string>女</string>
			<key>hobby</key>
			<string>玩</string>
		</dict>
	</array>
	<key>才子佳人</key>
	<array>
		<dict>
			<key>name</key>
			<string>范芳芳</string>
			<key>head_image</key>
			<string></string>
			<key>iphone_num</key>
			<string>18860233196</string>
			<key>gendar</key>
			<string>女</string>
			<key>age</key>
			<string>女</string>
			<key>hobby</key>
			<string>玩</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘海燕</string>
			<key>head_image</key>
			<string></string>
			<key>iphone_num</key>
			<string>18860233196</string>
			<key>gendar</key>
			<string>女</string>
			<key>age</key>
			<string>女</string>
			<key>hobby</key>
			<string>玩</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张衡</string>
			<key>head_image</key>
			<string></string>
			<key>iphone_num</key>
			<string>18860233196</string>
			<key>gendar</key>
			<string>女</string>
			<key>age</key>
			<string>女</string>
			<key>hobby</key>
			<string>玩</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李书明</string>
			<key>head_image</key>
			<string></string>
			<key>iphone_num</key>
			<string>18860233196</string>
			<key>gendar</key>
			<string>女</string>
			<key>age</key>
			<string>女</string>
			<key>hobby</key>
			<string>玩</string>
		</dict>
	</array>
	<key>风信子</key>
	<array>
        <dict>
            <key>name</key>
            <string>张莉</string>
            <key>head_image</key>
            <string></string>
            <key>iphone_num</key>
            <string>18860233196</string>
            <key>gendar</key>
            <string>女</string>
            <key>age</key>
            <string>女</string>
            <key>hobby</key>
            <string>玩</string>
        </dict>
        <dict>
            <key>name</key>
            <string>王妍</string>
            <key>head_image</key>
            <string></string>
            <key>iphone_num</key>
            <string>18860233196</string>
            <key>gendar</key>
            <string>女</string>
            <key>age</key>
            <string>女</string>
            <key>hobby</key>
            <string>玩</string>
        </dict>
        <dict>
            <key>name</key>
            <string>肖楠</string>
            <key>head_image</key>
            <string></string>
            <key>iphone_num</key>
            <string>18860233196</string>
            <key>gendar</key>
            <string>女</string>
            <key>age</key>
            <string>女</string>
            <key>hobby</key>
            <string>玩</string>
        </dict>
        <dict>
            <key>name</key>
            <string>王晓奇</string>
            <key>head_image</key>
            <string></string>
            <key>iphone_num</key>
            <string>18860233196</string>
            <key>gendar</key>
            <string>女</string>
            <key>age</key>
            <string>女</string>
            <key>hobby</key>
            <string>玩</string>
        </dict>
        <dict>
            <key>name</key>
            <string>聂欣欣</string>
            <key>head_image</key>
            <string></string>
            <key>iphone_num</key>
            <string>18860233196</string>
            <key>gendar</key>
            <string>女</string>
            <key>age</key>
            <string>女</string>
            <key>hobby</key>
            <string>玩</string>
        </dict>

	</array>
	<key>恐怖组织</key>
	<array>
        <dict>
            <key>name</key>
            <string>张鹏飞</string>
            <key>head_image</key>
            <string></string>
            <key>iphone_num</key>
            <string>18860233150</string>
            <key>gendar</key>
            <string>男</string>
            <key>age</key>
            <string>20</string>
            <key>hobby</key>
            <string>英雄联盟</string>
        </dict>
               <dict>
            <key>name</key>
            <string>乔自朋</string>
            <key>head_image</key>
            <string></string>
            <key>iphone_num</key>
            <string>18860233156</string>
            <key>gendar</key>
            <string>男</string>
            <key>age</key>
            <string>22</string>
            <key>hobby</key>
            <string>吃货，看书、旅游、运动</string>
        </dict>
        <dict>
            <key>name</key>
            <string>赵佳慧</string>
            <key>head_image</key>
            <string></string>
            <key>iphone_num</key>
            <string>1705692945</string>
            <key>gendar</key>
            <string>女</string>
            <key>age</key>
            <string>23</string>
            <key>hobby</key>
            <string>照相、旅游</string>
        </dict>
        <dict>
            <key>name</key>
            <string>李志鹏</string>
            <key>head_image</key>
            <string></string>
            <key>iphone_num</key>
            <string>18860233150</string>
            <key>gendar</key>
            <string>男</string>
            <key>age</key>
            <string>20</string>
            <key>hobby</key>
            <string>英雄联盟</string>
        </dict>

	</array>
	<key>娘娘驾到</key>
	<array>
        <dict>
            <key>name</key>
            <string>韩苇琪</string>
            <key>head_image</key>
            <string></string>
            <key>iphone_num</key>
            <string>18860233196</string>
            <key>gendar</key>
            <string>女</string>
            <key>age</key>
            <string>21</string>
            <key>hobby</key>
            <string>听歌</string>
        </dict>
        
        <dict>
            <key>name</key>
            <string>练小俊</string>
            <key>head_image</key>
            <string></string>
            <key>iphone_num</key>
            <string>18860233196</string>
            <key>gendar</key>
            <string>女</string>
            <key>age</key>
            <string>21</string>
            <key>hobby</key>
            <string>羽毛球</string>
        </dict>
        <dict>
            <key>name</key>
            <string>郭亚茹</string>
            <key>head_image</key>
            <string></string>
            <key>iphone_num</key>
            <string>18860233196</string>
            <key>gendar</key>
            <string>女</string>
            <key>age</key>
            <string>20</string>
            <key>hobby</key>
            <string>恐怖片、吃、喝、玩</string>
        </dict>
        <dict>
            <key>name</key>
            <string>马娟娟</string>
            <key>head_image</key>
            <string></string>
            <key>iphone_num</key>
            <string>18860233196</string>
            <key>gendar</key>
            <string>女</string>
            <key>age</key>
            <string>21</string>
            <key>hobby</key>
            <string>听歌</string>
        </dict>

	</array>
</dict>
</plist>
