<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>动作片</key>
	<array>
		<dict>
			<key>MovieName</key>
			<string>杀破狼1</string>
			<key>MovieIntroduce</key>
			<string>《杀破狼1》剧情讲述的是“卧底探员志杰被身患重病的黑帮头目洪爷屈在泰国黑狱。狱警阿猜是看守人，但更象是释放者，因为有志杰的骨髓能救活他的女儿。洪爷为了续命、阿猜为救女儿、志杰只为求公义，一场人性善恶、因果宿命的战斗旋即展开！”因为第一部中几位主角均已暴死，因此这个故事将以前传的形式延续展开，甄子丹扮演的“马军”不再出现，“洪爷”一角得以保留，值得注意的是，片中将会出现一位泰国影星，联想起之前盛传的“托尼·贾与洪金宝要合作拍片”的消息，不知是否能促成这两位功夫高手的对决，如能成真，也将是功夫片迷之福了。</string>
			<key>MovieTime</key>
			<string>2015.5.30</string>
			<key>MovieWatchCount</key>
			<string>5220万次</string>
			<key>MovieImageName</key>
			<string>杀破狼2.jpg</string>
		</dict>
		<dict>
			<key>MovieName</key>
			<string>杀破狼2</string>
			<key>MovieIntroduce</key>
			<string>《杀破狼2》剧情讲述的是“卧底探员志杰被身患重病的黑帮头目洪爷屈在泰国黑狱。狱警阿猜是看守人，但更象是释放者，因为有志杰的骨髓能救活他的女儿。洪爷为了续命、阿猜为救女儿、志杰只为求公义，一场人性善恶、因果宿命的战斗旋即展开！”因为第一部中几位主角均已暴死，因此这个故事将以前传的形式延续展开，甄子丹扮演的“马军”不再出现，“洪爷”一角得以保留，值得注意的是，片中将会出现一位泰国影星，联想起之前盛传的“托尼·贾与洪金宝要合作拍片”的消息，不知是否能促成这两位功夫高手的对决，如能成真，也将是功夫片迷之福了。</string>
			<key>MovieTime</key>
			<string>2015.9.30</string>
			<key>MovieWatchCount</key>
			<string>15220万次</string>
			<key>MovieImageName</key>
			<string>杀破狼2.jpg</string>
		</dict>
	</array>
	<key>恐怖片</key>
	<array>
        <dict>
            <key>MovieName</key>
            <string>僵尸先生</string>
            <key>MovieIntroduce</key>
            <string>《杀破狼1》剧情讲述的是“卧底探员志杰被身患重病的黑帮头目洪爷屈在泰国黑狱。狱警阿猜是看守人，但更象是释放者，因为有志杰的骨髓能救活他的女儿。洪爷为了续命、阿猜为救女儿、志杰只为求公义，一场人性善恶、因果宿命的战斗旋即展开！”因为第一部中几位主角均已暴死，因此这个故事将以前传的形式延续展开，甄子丹扮演的“马军”不再出现，“洪爷”一角得以保留，值得注意的是，片中将会出现一位泰国影星，联想起之前盛传的“托尼·贾与洪金宝要合作拍片”的消息，不知是否能促成这两位功夫高手的对决，如能成真，也将是功夫片迷之福了。</string>
            <key>MovieTime</key>
            <string>2015.5.30</string>
            <key>MovieWatchCount</key>
            <string>5220万次</string>
            <key>MovieImageName</key>
            <string>杀破狼2.jpg</string>
        </dict>

	</array>
	<key>爱情片</key>
	<array>
        <dict>
            <key>MovieName</key>
            <string>少女时代</string>
            <key>MovieIntroduce</key>
            <string>《杀破狼1》剧情讲述的是“卧底探员志杰被身患重病的黑帮头目洪爷屈在泰国黑狱。狱警阿猜是看守人，但更象是释放者，因为有志杰的骨髓能救活他的女儿。洪爷为了续命、阿猜为救女儿、志杰只为求公义，一场人性善恶、因果宿命的战斗旋即展开！”因为第一部中几位主角均已暴死，因此这个故事将以前传的形式延续展开，甄子丹扮演的“马军”不再出现，“洪爷”一角得以保留，值得注意的是，片中将会出现一位泰国影星，联想起之前盛传的“托尼·贾与洪金宝要合作拍片”的消息，不知是否能促成这两位功夫高手的对决，如能成真，也将是功夫片迷之福了。</string>
            <key>MovieTime</key>
            <string>2015.5.30</string>
            <key>MovieWatchCount</key>
            <string>5220万次</string>
            <key>MovieImageName</key>
            <string>少女时代.jpg</string>
        </dict>
	</array>
	<key>科幻片</key>
	<array>
        <dict>
            <key>MovieName</key>
            <string>少女时代</string>
            <key>MovieIntroduce</key>
            <string>《杀破狼1》剧情讲述的是“卧底探员志杰被身患重病的黑帮头目洪爷屈在泰国黑狱。狱警阿猜是看守人，但更象是释放者，因为有志杰的骨髓能救活他的女儿。洪爷为了续命、阿猜为救女儿、志杰只为求公义，一场人性善恶、因果宿命的战斗旋即展开！”因为第一部中几位主角均已暴死，因此这个故事将以前传的形式延续展开，甄子丹扮演的“马军”不再出现，“洪爷”一角得以保留，值得注意的是，片中将会出现一位泰国影星，联想起之前盛传的“托尼·贾与洪金宝要合作拍片”的消息，不知是否能促成这两位功夫高手的对决，如能成真，也将是功夫片迷之福了。</string>
            <key>MovieTime</key>
            <string>2015.5.30</string>
            <key>MovieWatchCount</key>
            <string>5220万次</string>
            <key>MovieImageName</key>
            <string>少女时代.jpg</string>
        </dict>
        <dict>
            <key>MovieName</key>
            <string>少女时代</string>
            <key>MovieIntroduce</key>
            <string>《杀破狼1》剧情讲述的是“卧底探员志杰被身患重病的黑帮头目洪爷屈在泰国黑狱。狱警阿猜是看守人，但更象是释放者，因为有志杰的骨髓能救活他的女儿。洪爷为了续命、阿猜为救女儿、志杰只为求公义，一场人性善恶、因果宿命的战斗旋即展开！”因为第一部中几位主角均已暴死，因此这个故事将以前传的形式延续展开，甄子丹扮演的“马军”不再出现，“洪爷”一角得以保留，值得注意的是，片中将会出现一位泰国影星，联想起之前盛传的“托尼·贾与洪金宝要合作拍片”的消息，不知是否能促成这两位功夫高手的对决，如能成真，也将是功夫片迷之福了。</string>
            <key>MovieTime</key>
            <string>2015.5.30</string>
            <key>MovieWatchCount</key>
            <string>5220万次</string>
            <key>MovieImageName</key>
            <string>少女时代.jpg</string>
        </dict>

	</array>
	<key>纪录片</key>
	<array>
        <dict>
            <key>MovieName</key>
            <string>少女时代</string>
            <key>MovieIntroduce</key>
            <string>《杀破狼1》剧情讲述的是“卧底探员志杰被身患重病的黑帮头目洪爷屈在泰国黑狱。狱警阿猜是看守人，但更象是释放者，因为有志杰的骨髓能救活他的女儿。洪爷为了续命、阿猜为救女儿、志杰只为求公义，一场人性善恶、因果宿命的战斗旋即展开！”因为第一部中几位主角均已暴死，因此这个故事将以前传的形式延续展开，甄子丹扮演的“马军”不再出现，“洪爷”一角得以保留，值得注意的是，片中将会出现一位泰国影星，联想起之前盛传的“托尼·贾与洪金宝要合作拍片”的消息，不知是否能促成这两位功夫高手的对决，如能成真，也将是功夫片迷之福了。</string>
            <key>MovieTime</key>
            <string>2015.5.30</string>
            <key>MovieWatchCount</key>
            <string>5220万次</string>
            <key>MovieImageName</key>
            <string>少女时代.jpg</string>
        </dict>
        <dict>
            <key>MovieName</key>
            <string>少女时代</string>
            <key>MovieIntroduce</key>
            <string>《杀破狼1》剧情讲述的是“卧底探员志杰被身患重病的黑帮头目洪爷屈在泰国黑狱。狱警阿猜是看守人，但更象是释放者，因为有志杰的骨髓能救活他的女儿。洪爷为了续命、阿猜为救女儿、志杰只为求公义，一场人性善恶、因果宿命的战斗旋即展开！”因为第一部中几位主角均已暴死，因此这个故事将以前传的形式延续展开，甄子丹扮演的“马军”不再出现，“洪爷”一角得以保留，值得注意的是，片中将会出现一位泰国影星，联想起之前盛传的“托尼·贾与洪金宝要合作拍片”的消息，不知是否能促成这两位功夫高手的对决，如能成真，也将是功夫片迷之福了。</string>
            <key>MovieTime</key>
            <string>2015.5.30</string>
            <key>MovieWatchCount</key>
            <string>5220万次</string>
            <key>MovieImageName</key>
            <string>少女时代.jpg</string>
        </dict>

	</array>
</dict>
</plist>
