<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>动作片</key>
	<array>
		<dict>
			<key>MovieName</key>
			<string>杀破狼1</string>
			<key>MovieIntroduce</key>
			<string>《杀破狼1》剧情讲述的是“卧底探员志杰被身患重病的黑帮头目洪爷屈在泰国黑狱。狱警阿猜是看守人，但更象是释放者，因为有志杰的骨髓能救活他的女儿。洪爷为了续命、阿猜为救女儿、志杰只为求公义，一场人性善恶、因果宿命的战斗旋即展开！”因为第一部中几位主角均已暴死，因此这个故事将以前传的形式延续展开，甄子丹扮演的“马军”不再出现，“洪爷”一角得以保留，值得注意的是，片中将会出现一位泰国影星，联想起之前盛传的“托尼·贾与洪金宝要合作拍片”的消息，不知是否能促成这两位功夫高手的对决，如能成真，也将是功夫片迷之福了。</string>
			<key>MovieTime</key>
			<string>2015.5.30</string>
			<key>MovieWatchCount</key>
			<string>5220万次</string>
			<key>MovieImageName</key>
			<string>8.jpg</string>
		</dict>
		<dict>
			<key>MovieName</key>
			<string>杀破狼2</string>
			<key>MovieIntroduce</key>
			<string>《杀破狼2》剧情讲述的是“卧底探员志杰被身患重病的黑帮头目洪爷屈在泰国黑狱。狱警阿猜是看守人，但更象是释放者，因为有志杰的骨髓能救活他的女儿。洪爷为了续命、阿猜为救女儿、志杰只为求公义，一场人性善恶、因果宿命的战斗旋即展开！”因为第一部中几位主角均已暴死，因此这个故事将以前传的形式延续展开，甄子丹扮演的“马军”不再出现，“洪爷”一角得以保留，值得注意的是，片中将会出现一位泰国影星，联想起之前盛传的“托尼·贾与洪金宝要合作拍片”的消息，不知是否能促成这两位功夫高手的对决，如能成真，也将是功夫片迷之福了。</string>
			<key>MovieTime</key>
			<string>2015.9.30</string>
			<key>MovieWatchCount</key>
			<string>15220万次</string>
			<key>MovieImageName</key>
			<string>8.jpg</string>
		</dict>
	</array>
	<key>恐怖片</key>
	<array>
		<dict>
			<key>MovieName</key>
			<string>僵尸至尊</string>
			<key>MovieIntroduce</key>
			<string>《杀破狼1》剧情讲述的是“卧底探员志杰被身患重病的黑帮头目洪爷屈在泰国黑狱。狱警阿猜是看守人，但更象是释放者，因为有志杰的骨髓能救活他的女儿。洪爷为了续命、阿猜为救女儿、志杰只为求公义，一场人性善恶、因果宿命的战斗旋即展开！”因为第一部中几位主角均已暴死，因此这个故事将以前传的形式延续展开，甄子丹扮演的“马军”不再出现，“洪爷”一角得以保留，值得注意的是，片中将会出现一位泰国影星，联想起之前盛传的“托尼·贾与洪金宝要合作拍片”的消息，不知是否能促成这两位功夫高手的对决，如能成真，也将是功夫片迷之福了。</string>
			<key>MovieTime</key>
			<string>2015.5.30</string>
			<key>MovieWatchCount</key>
			<string>5220万次</string>
			<key>MovieImageName</key>
			<string>僵尸至尊.jpg</string>
		</dict>
        <dict>
            <key>MovieName</key>
            <string>鬼打鬼</string>
            <key>MovieIntroduce</key>
            <string>车夫张大胆自称胆识过人，神鬼不怕，经常与别人打赌练胆。某天他提前收工，发现老婆与别人私通，而对方竟是大胆的雇主谭老板。谭老板为掩盖真相，派师爷寻茅山道士钱真人设坛杀害大胆。钱真人设下圈套，借打赌之名将张大胆诱至马家祠堂，施法唤出僵尸追杀大胆。 钱之师弟许真人不满师兄图财害命、伤天害理恶举。他暗中协助大胆，使之最终逃过此劫。然而谭老板祸心不死，一计不成，再施一计，非置大胆于死地不可。</string>
            <key>MovieTime</key>
            <string>2015.5.30</string>
            <key>MovieWatchCount</key>
            <string>5220万次</string>
            <key>MovieImageName</key>
            <string>鬼打鬼.jpg</string>
        </dict>
  
	</array>
	<key>爱情片</key>
	<array>
		<dict>
			<key>MovieName</key>
			<string>我的少女时代</string>
			<key>MovieIntroduce</key>
			<string>神经大条且长相平凡的林真心（宋芸桦饰），每天眼珠都是跟着校内风云人物欧阳非凡（李玉玺饰）转动，而徐太宇（王大陆饰）身为学校头号痞子，则一心要把上亮丽的校花陶敏敏（简廷芮饰）。林真心偶然发现欧阳和陶敏敏交往的秘密；在喜欢敏敏的流氓学生徐太宇的胁迫下，两人组成“失恋阵线联盟”，誓言拆散这对金童玉女，帮彼此倒追心上人。一个是LOSER壁花想要走到白马王子身边，一个是地痞混混想追到圣女校花，两人一路跌跌撞撞、笑料百出，却万万没想到对彼此动了心</string>
			<key>MovieTime</key>
			<string>2015.5.30</string>
			<key>MovieWatchCount</key>
			<string>5220万次</string>
			<key>MovieImageName</key>
			<string>少女时代.jpg</string>
		</dict>
	</array>
	<key>科幻片</key>
	<array>
		<dict>
			<key>MovieName</key>
			<string>不可思异</string>
			<key>MovieIntroduce</key>
			<string>处于人生、事业低谷的唐立果（王宝强饰）在消沉与悔恨中度日。某日，开普勒星球的“外星生物”为了采集人类样本来到地球，闯入了唐立果的生活中，一系列啼笑皆非的奇幻事情接二连三地发生。唐立果亦兄弟亦老板的王若水（小沈阳饰）因遭遇竞争对手的吞并阴谋，落入陷阱并欠下巨额高利贷，公司面临倒闭边缘。王若水几度产生轻生念头，唐立果与他的多年客户田静（辛芷蕾饰）从事故的索赔转化发展为恋人关系，而一切看似峰回路转之时，外星生物的奇功异能被贪婪的反派一哥（董成鹏饰）发现并企图据为己有，人类贪婪欲望再一次暴露。地球，陷入一场“不可思异”的危机当中</string>
			<key>MovieTime</key>
			<string>2015.5.30</string>
			<key>MovieWatchCount</key>
			<string>5220万次</string>
			<key>MovieImageName</key>
			<string>不可思议.jpg</string>
		</dict>
			</array>
	<key>微电影</key>
	<array>
		<dict>
			<key>MovieName</key>
			<string>坏蛋必须死</string>
			<key>MovieIntroduce</key>
			<string>假期来临之际，在韩国釜山小学当中文老师的强子（陈柏霖饰），和从中国家乡远道而来的好哥们三儿（乔振宇饰）、大头（丁文博饰）和弟弟帕帕（杨旭文饰），相约一起到济州岛游玩散心。在旅途中，四位中国青年救起出车祸的神秘韩国女郎智妍（孙艺珍饰），谁知却卷入一起犯罪事件。狂飙的小混混、执着的老警察（张光饰）、神秘的尾随者（申贤俊饰）、不着调的牧师（朴哲民饰）纷纷接连登场。期盼已久的假期旅程，因为这些人的存在而鸡飞狗跳、险象环生，种种意外让四人身陷险境，处在陌生环境孤立无援的哥儿几个，需要智慧脱离险境，需要勇气面对生死。此时一只神秘小黑猪出现让所有人杀红了眼，更将众人推向生死危急的关口。他们心中怀着“坏蛋必须死”的信念与“坏人”周旋，最终能否拯救韩国女郎。</string>
			<key>MovieTime</key>
			<string>2015.5.30</string>
			<key>MovieWatchCount</key>
			<string>5220万次</string>
			<key>MovieImageName</key>
			<string>坏蛋必须死.jpg</string>
		</dict>
		<dict>
			<key>MovieName</key>
			<string>少女时代</string>
			<key>MovieIntroduce</key>
			<string>《杀破狼1》剧情讲述的是“卧底探员志杰被身患重病的黑帮头目洪爷屈在泰国黑狱。狱警阿猜是看守人，但更象是释放者，因为有志杰的骨髓能救活他的女儿。洪爷为了续命、阿猜为救女儿、志杰只为求公义，一场人性善恶、因果宿命的战斗旋即展开！”因为第一部中几位主角均已暴死，因此这个故事将以前传的形式延续展开，甄子丹扮演的“马军”不再出现，“洪爷”一角得以保留，值得注意的是，片中将会出现一位泰国影星，联想起之前盛传的“托尼·贾与洪金宝要合作拍片”的消息，不知是否能促成这两位功夫高手的对决，如能成真，也将是功夫片迷之福了。</string>
			<key>MovieTime</key>
			<string>2015.5.30</string>
			<key>MovieWatchCount</key>
			<string>5220万次</string>
			<key>MovieImageName</key>
			<string>少女时代.jpg</string>
		</dict>
	</array>
</dict>
</plist>
